.landing-page {
    width: 1080px;
    margin: 0 auto;
}

.tile {
	color: #000;
	width: 530px;
	height: 495px;
	border: 1px solid #e1e1e1;
	float: left;
	margin-top: 20px;
	text-align: center;
	background: #fff;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.first-tile {
	margin-right: 20px;
}

.tile-image {
	border-bottom: 1px solid #e1e1e1;
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.tile-image:hover {
	opacity: .8;
}

.tile-title,
.tile-text {
	margin: 0;
}

.tile-text {
	margin-top: 30px;
	letter-spacing: 2px;
	color: #000;
}

.brands-headline {
	float: left;
	width: 100%;
	margin: 50px auto;
	display: flex;
    align-items: center;
    justify-content: center;
}

.brands-headline h2 {
   width: 385px; 
   text-align: center; 
   border-bottom: 1px solid #afafaf; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
} 

.brands-headline h2 span { 
    background: #f6f6f6; 
    padding:0 10px; 
    color: #626262;
    font-weight: normal;
    letter-spacing: 5px;
}

.brands-images {
	height: 330px;
	width: 100%;
	border: 1px solid #e1e1e1;
	float: left;
	margin-bottom: 110px;
	background: #fff;
}

.brand-image {
	height: 296px;
	width: 248px;
	float: left;
	margin-top: 16px;
	margin-left: 17px;
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.brand-image:hover {
	opacity: .8;
}

.metaslider {
    width: 100%;
    max-width: 100% !important;
    top: -28px;
}

.flex-direction-nav .flex-next {
	right: 50px;
}

.flex-direction-nav .flex-prev {
	right: 50px;
}

// Lord please forgive me for the importans im about to make !
.flex-control-paging li a {
	width: 17px !important;
	height: 17px !important;
}

.flex-control-nav {
	position: relative !important;
    margin-top: -65px !important;
    z-index: 10;
}

.flex-direction-nav a {
	height: 60px !important;
	width: 30px !important;
    background: url(img/swiper-arrows.png) no-repeat 0 0 !important;
    margin: -20px 2% 0 !important;
}

.flexslider:hover .flex-prev {
    opacity: 1 !important;
    left: 30px !important;
}

.flexslider:hover .flex-next {
	opacity: 1 !important;
    right: 30px !important;
}

.flexslider .flex-next {
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.post-edit-link {
	display: none;
}

.page-template-custom-landing-page {
	
	.site-cover {
		display: none;
	}

	.site-content {
		width: 100%;
	}

	.hentry {
		margin-bottom: 0;
	}

	.content-area {
		margin-top: 0;
	}

	.entry-content {
		border: 0;
	}
}