.site-content {
	margin: 0 auto;
	width: 700px;
}

.content-area {
	margin-top: 65px;
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published),
.entry-footer,
.entry-meta,
h1.page-title {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.entry-content {
    border-bottom: 1px solid #b7b7b7;
    margin-top: 0;
}


.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

h2.entry-title {
    margin: 0;
}

h3.subtitle {
	font-weight: normal;
}