@media (max-width: 1024px) {

	.landing-page,
	.navigation-container {
		width: 860px;
	}

	.landing-page .site-content {
		width: 860px;	
	}

	.site-content {
		width: 700px;
	}

	.tile {
		width: 422px;
		height: 396px;
	}
	
	.first-tile {
   		margin-right: 14px;
	}

	.brand-image {
		width: 196px;
		height: 238px;
		margin-left: 15px;
	}

	.brands-images {
		height: 272px;
	}
	.footer-column {
		width: 164px;
	}
}
